@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: #feafc3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0 15px;
}

.header-container,
.footer-container,
.address-container {
  margin-bottom: 0;
}

.header {
  padding: 24px 0;
}

.header-logo {
  display: block;
  margin-right: 16px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  width: 542px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  text-align: center;
  text-decoration: none;
  color: #2d3440;
}

.nav-user {
  max-width: 435px;
  margin-left: auto;
}

.nav-phone {
  font-weight: 700;
}

.nav-user-link {
  min-width: 88px;
  min-height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 16px;
  font-size: 14px;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
}

.main-container {
  flex-grow: 1;
}

.slider-1,
.slider-2,
.slider-3 {
  display: flex;
}

.slider-2 {
  background-color: #69a9ff;
}

.slider-3 {
  background: #fcc850;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-features {
  font-size: 18px;
  line-height: 24px;
}

.slider-pagination {
  display: flex;
  justify-content: space-between;
}

.slider-pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-link {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #2d3440;

  min-width: 139px;
  min-height: 44px;
  display: inline-grid;
  place-items: center;

  padding: 12px 32px;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background: #fcfcfc;
  background-clip: padding-box;
}

.title {
  margin: 0 auto;
  margin-bottom: 56px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.banner-title {
  max-width: 435px;
}

.banner-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.banner-item {
  display: flex;
  max-width: 570px;
  border-radius: 16px;
  background-color: #f79;
}

.banner-wrapper {
  padding: 36px 0 36px 36px;
}

.banner-title-card {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.banner-descr {
  line-height: 22px;
}

.products-title {
  max-width: 527px;
}

.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 30px;
  list-style: none;
}

.products-item {
  max-width: 270px;
  border-radius: 8px;
  background-color: #fcfcfc;
}

.products-wrapper {
  padding: 0 40px 24px 40px;
}

.products-link {
  text-decoration: none;
  color: #2d3440;
}

.products-title-card {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.products-descr {
  line-height: 22px;
}

.products-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.ceo-container {
  padding: 24px;
  border-radius: 16px;
  background-image: url("../images/background/cео.jpg");
}

.ceo-box {
  padding: 56px 40px;
  border-radius: 16px;
  background-color: #fff;
}

.ceo-title {
  max-width: 995px;
}

.ceo-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
  list-style: none;
}

.ceo-item {
  width: 505px;
}

.ceo-descr {
  line-height: 22px;
}

.news-container,
.subscribe-container {
  width: 570px;
  border-radius: 16px;
}

.news-subscribe-container {
  display: flex;
  gap: 30px;
}

.news {
  background-image: url("../images/background/news.jpg");
  background-size: cover;
}

.news-link {
  text-decoration: none;
  color: #565c66;
}

.news-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.subscribe {
  padding: 6px;
  background-image: url("../images/background/subscribe.jpg");
}

.subscribe-box {
  border-radius: 16px;
  padding: 26px;
  padding-bottom: 28px;
  background-color: #fff;
}

.subscribe-descr {
  line-height: 22px;
  color: #565c66;
}

.btn-form {
  min-width: 139px;
  min-height: 44px;
  display: inline-grid;
  place-items: center;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
  border: 4px solid rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  padding: 12px 32px;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: #ff2f64;
  background-clip: padding-box;
}

.delivery-container {
  padding: 64px;
  padding-left: 100px;
  display: flex;
  border-radius: 16px;
  background-size: cover;
  background-image: url("../images/background/devilery.jpg");
}

.delivery-text {
  margin-right: 135px;
}

.delivery-form {
  padding: 40px;
  padding-bottom: 54px;
  border-radius: 8px;
  background-color: #fcfcfc;
}

.delivery-descr {
  line-height: 22px;
  color: #565c66;
}

.delivery-label {
  font-weight: 700;
}

.address-container {
  padding: 63px;
  padding-right: 763px;
  border-radius: 16px;
  background-size: cover;
  background-image: url("../images/background/address.jpg");
}

.address-box {
  padding: 40px;
  padding-bottom: 54px;
  width: 343px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  background: #fcfcfc;
}

.address-title {
  font-weight: 400;
  line-height: 22px;
  color: #565c66;
}

.address-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
}

.address-phone {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.address-subtext {
  font-size: 14px;
  color: #565c66;
}

.footer-container {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.footer-line {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.socials-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.footer-menu-list {
  margin: 0;
  padding: 0;
  width: 356px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-menu-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.footer-menu-activ {
  font-weight: 700;
}

.footer-copyright-text {
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  border-bottom: 1px solid #2d3440;
  color: #2d3440;
}


/* Страница каталога */

.breadcrumbs-container {
  margin-top: 32px;
  margin-bottom: 40px;
}

.breadcrumbs-list {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
  gap: 28px;
  list-style: none;
}

.breadcrumbs-link {
  padding: 1px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.breadcrumbs-link-activ {
  border-bottom: 1px solid #2d3440;
}

.breadcrumbs-title {
  margin: 0;
  text-align: left;
}

.select-form-wrapper {
  margin-bottom: 44px;
  display: flex;
  flex-wrap: wrap;
}

.select-title {
  font-size: 14px;
}

.select-control {
  padding: 8px 63px 8px 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  border: 0;
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.3);
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  font-size: 14px;
  border: 0;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-list {
  width: 383px;
  height: auto;
  border-radius: 18px;
  background: rgba(252, 252, 252, 0.3);
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;

  padding: 8px 32px;
  width: 185px;
  height: 36px;
  border: 2px solid #fcfcfc;
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.3);
}

.pagination-container {
  margin-top: 16px;
  margin-bottom: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.btn-show {
  margin: 41px;
  margin-right: 335px;
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  border-radius: 26px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background: #fcfcfc;
  background-clip: padding-box;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.pagination-link {
  padding: 2px 8px;
  color: #2d3440;
  text-decoration: none;
}

.pagination-link-activ {
  padding: 2px 8px;
  border-radius: 50px;
  background-color: #fcfcfc;
}

.pagination-left {
  padding: 4px 8px 4px 0;
}

.pagination-right {
  padding: 4px 0 4px 8px;
}
