@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-color: #feafc3;
}

.nav-link {
  text-align: center;
  text-decoration: none;
  color: #2d3440;
}

.nav-phone {
  font-weight: 700;
}

.nav-user-link {
  font-size: 14px;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-features {
  font-size: 18px;
  line-height: 24px;
}

.btn-link {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #2d3440;
}

.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.banner-list {
  list-style: none;
}

.banner-title-card {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.banner-descr {
  line-height: 22px;
}

.products-list {
  list-style: none;
}

.products-link {
  text-decoration: none;
  color: #2d3440;
}

.products-title-card {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.products-descr {
  line-height: 22px;
}

.products-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
